In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import squarify
import seaborn as sns
plt.style.use('fivethirtyeight')

from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [2]:
data=pd.read_csv('result.csv')
print(f'Shape of data: {data.shape[0]} rows and {data.shape[1]} columns')

Shape of data: 10137 rows and 76 columns

C:\Users\kana\Anaconda3\envs\tensorflow_env\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
data.head()

,Unnamed: 0,item1,item2,item3,item4,item5,item6,item7,item8,item9,...,item66,item67,item68,item69,item70,item71,item72,item73,item74,item75
0,0,Keanekaragaman Hayati Biologi Kelas X SMAN 24 ...,Sekolah Cikal - Kelas 6 - Matematika,Coba Program - Pengguna Jalan [Prasekolah/ 2-6...,Panduan Orang Tua Mendampingi Anak Belajar 202...,"Orientasi PAUD, RA, SD, MI, PaketA Tahun Pelaj...",Sampahku Tanggung Jawabku (PAUD),Menjadi Talenta Siap Bisnis,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Fotografi untuk Pemula,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Keanekaragaman Hayati Biologi Kelas X SMAN 24 ...,Sekolah Cikal - Kelas 6 - Matematika,Coba Program - Pengguna Jalan [Prasekolah/ 2-6...,Panduan Orang Tua Mendampingi Anak Belajar 202...,"Orientasi PAUD, RA, SD, MI, PaketA Tahun Pelaj...",Sampahku Tanggung Jawabku (PAUD),Menjadi Talenta Siap Bisnis,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,"Orientasi PAUD, RA, SD, MI, PaketA Tahun Pelaj...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Konsumsi Ramah Lingkungan – WWF,Kita Lawan Corona : Pelajari Kembali Fakta Vir...,ENGLISH KELAS 8 - SMPN 199,Menjadi Fasilitator Belajar Guru Sekolahmu,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
data.drop('Unnamed: 0', axis=1, inplace=True)

In [6]:
data.head()

,item1,item2,item3,item4,item5,item6,item7,item8,item9,item10,...,item66,item67,item68,item69,item70,item71,item72,item73,item74,item75
0,Keanekaragaman Hayati Biologi Kelas X SMAN 24 ...,Sekolah Cikal - Kelas 6 - Matematika,Coba Program - Pengguna Jalan [Prasekolah/ 2-6...,Panduan Orang Tua Mendampingi Anak Belajar 202...,"Orientasi PAUD, RA, SD, MI, PaketA Tahun Pelaj...",Sampahku Tanggung Jawabku (PAUD),Menjadi Talenta Siap Bisnis,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Fotografi untuk Pemula,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Keanekaragaman Hayati Biologi Kelas X SMAN 24 ...,Sekolah Cikal - Kelas 6 - Matematika,Coba Program - Pengguna Jalan [Prasekolah/ 2-6...,Panduan Orang Tua Mendampingi Anak Belajar 202...,"Orientasi PAUD, RA, SD, MI, PaketA Tahun Pelaj...",Sampahku Tanggung Jawabku (PAUD),Menjadi Talenta Siap Bisnis,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Orientasi PAUD, RA, SD, MI, PaketA Tahun Pelaj...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Konsumsi Ramah Lingkungan – WWF,Kita Lawan Corona : Pelajari Kembali Fakta Vir...,ENGLISH KELAS 8 - SMPN 199,Menjadi Fasilitator Belajar Guru Sekolahmu,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
trans=data.values.astype('str')

trans.shape

(10137, 75)

In [9]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

te = TransactionEncoder()
data_tr = te.fit_transform(trans)
data_tr = pd.DataFrame(data_tr, columns = te.columns_)

# getting the shape of the data
data_tr.shape

(10137, 1095)

In [10]:
data_tr.columns

Index(['#KamuSMK – Kawan Muda SMK',
       '(Belajar Mandiri) Miliki Mental Penting untuk Sukses',
       '(RMC Bandung) Islamic Studies RJ',
       '(Sekolah Cikal Amri) Islamic Studies 11',
       '(Sekolah Cikal Amri) Islamic Studies 9',
       '(Sekolah Cikal Cilandak)  Islamic Studies 4',
       '(Sekolah Cikal Cilandak) Islamic Studies 3',
       '(Sekolah Cikal Cilandak) Islamic Studies 6',
       '(Sekolah Cikal Serpong) Funomics A',
       '(Sekolah Cikal Surabaya) Indonesian Acqusition 8',
       ...
       '[Sekolah Cikal Surabaya] Sciences 4',
       '[Sekolah Cikal Surabaya] Sciences 6',
       '[Sekolah Cikal Surabaya] Social Studies 1',
       '[Sekolah Cikal Surabaya] Social Studies 3',
       '[Sekolah Cikal Surabaya] Visual Arts 1',
       '[Sekolah Cikal Surabaya] Visual Arts 9',
       '[Sekolah Cikal] Sciences for Pro', 'lingkungan', 'nan', 'sekolahmu'],
      dtype='object', length=1095)

In [11]:
data_tr.head()

,#KamuSMK – Kawan Muda SMK,(Belajar Mandiri) Miliki Mental Penting untuk Sukses,(RMC Bandung) Islamic Studies RJ,(Sekolah Cikal Amri) Islamic Studies 11,(Sekolah Cikal Amri) Islamic Studies 9,(Sekolah Cikal Cilandak) Islamic Studies 4,(Sekolah Cikal Cilandak) Islamic Studies 3,(Sekolah Cikal Cilandak) Islamic Studies 6,(Sekolah Cikal Serpong) Funomics A,(Sekolah Cikal Surabaya) Indonesian Acqusition 8,...,[Sekolah Cikal Surabaya] Sciences 4,[Sekolah Cikal Surabaya] Sciences 6,[Sekolah Cikal Surabaya] Social Studies 1,[Sekolah Cikal Surabaya] Social Studies 3,[Sekolah Cikal Surabaya] Visual Arts 1,[Sekolah Cikal Surabaya] Visual Arts 9,[Sekolah Cikal] Sciences for Pro,lingkungan,nan,sekolahmu
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False

In [12]:
data_tr.drop('nan', axis=1,inplace=True)

In [13]:
data_tr.head()

,#KamuSMK – Kawan Muda SMK,(Belajar Mandiri) Miliki Mental Penting untuk Sukses,(RMC Bandung) Islamic Studies RJ,(Sekolah Cikal Amri) Islamic Studies 11,(Sekolah Cikal Amri) Islamic Studies 9,(Sekolah Cikal Cilandak) Islamic Studies 4,(Sekolah Cikal Cilandak) Islamic Studies 3,(Sekolah Cikal Cilandak) Islamic Studies 6,(Sekolah Cikal Serpong) Funomics A,(Sekolah Cikal Surabaya) Indonesian Acqusition 8,...,[Sekolah Cikal Surabaya] Sciences 2,[Sekolah Cikal Surabaya] Sciences 4,[Sekolah Cikal Surabaya] Sciences 6,[Sekolah Cikal Surabaya] Social Studies 1,[Sekolah Cikal Surabaya] Social Studies 3,[Sekolah Cikal Surabaya] Visual Arts 1,[Sekolah Cikal Surabaya] Visual Arts 9,[Sekolah Cikal] Sciences for Pro,lingkungan,sekolahmu
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [14]:
from mlxtend.frequent_patterns import apriori

#Now, let us return the items and itemsets with at least 1% support:
apr=apriori(data_tr, min_support = 0.01, use_colnames = True)
apr

     support                                           itemsets
0   0.010555  (7 Kelas Panduan Langkah-langkah Jualan Online...
1   0.018053                      (Aneka Resep Jajanan Rumahan)
2   0.014107                          (Belajar Berpikir Kritis)
3   0.012824           (Cepat Cakap Inggris Khusus Ojek Online)
4   0.010654  (Desain Grafis Kelas Dunia Dengan Adobe Ilustr...
5   0.013318            (Desain Poster dengan Canva di Android)
6   0.012331                                (Digital Marketing)
7   0.013219             (Eksplorasi Profesi dan Melamar Kerja)
8   0.019434                           (Fotografi untuk Pemula)
9   0.013318            (Hardskill & Softskill Persiapan Kerja)
10  0.027030        (Kelas Kilat Bahasa Inggris Dasar Karyawan)
11  0.021801         (Kelas Kilat Bahasa Inggris Job Interview)
12  0.021703         (Kelas Kilat: Melamar Kerja Secara Online)
13  0.035119  (Kelas Kilat: Melamar Kerja via Pos atau Langs...
14  0.010457          (Kewirausahaan - Menyusun Rencana Bisnis)
15  0.019138                     (Kiat Sukses Berjualan Online)
16  0.010161                             (Komunikasi Pemasaran)
17  0.010555  (MPLS SMP, SMA, Paket B & C Tahun Pelajaran 20...
18  0.028608  (Memasang Iklan di Facebook dan Instagram Seca...
19  0.042419        (Membangun CV, Resume, Surat Lamaran Kerja)
20  0.017066         (Mencari Ide Bisnis yang Dibutuhkan Pasar)
21  0.031272     (Menghadapi Wawancara Kerja & Seleksi Lainnya)
22  0.015389                (Pastry and Bakery 2: Short Pastry)
23  0.013416             (Pelatihan Pastry and Bakery 1: Bread)
24  0.010950       (Pembelajaran Jarak Jauh di Kondisi Darurat)
25  0.013613                   (Pengetikan Dasar (Office Word))
26  0.013120                     (Pengolah Angka (Spreadsheet))
27  0.021012  (Resep simple ala restoran bersama Chef DeaVia...
28  0.010457   (Sekolah Cikal Commencement Program for Primary)
29  0.011838  (Sekolah Cikal Commencement Program for Second...
30  0.011345  (Strategi Marketing Bisnis untuk Menaikkan Pen...
31  0.013219                     (Sukses Mudah Interview Kerja)
32  0.012134        (Teknik Wawancara Kerja (Bahasa & Inggris))

In [25]:
frequent_itemsets = apriori(data_tr, min_support = 0.001, use_colnames=True)
frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x: len(x))
frequent_itemsets

      support                                           itemsets  length
0    0.010555  (7 Kelas Panduan Langkah-langkah Jualan Online...       1
1    0.001578  (7 Kelas Panduan Sukses Berjualan dengan Whats...       1
2    0.006018  (7 Kelas Panduan Teknik Fotografi Menggunakan ...       1
3    0.018053                      (Aneka Resep Jajanan Rumahan)       1
4    0.002466                               (Auditor Muda – PwC)       1
..        ...                                                ...     ...
254  0.001874  ([Sekolah Cikal Cilandak] Indonesian Acquisiti...       2
255  0.001085  ([Sekolah Cikal Cilandak] Mathematics 5, [Seko...       2
256  0.001184  ([Sekolah Cikal Cilandak] Sciences 6, [Sekolah...       2
257  0.001085  ([Sekolah Cikal Cilandak] Indonesian Acquisiti...       3
258  0.001085  ([Sekolah Cikal Cilandak] Indonesian Acquisiti...       3

[259 rows x 3 columns]

In [26]:
# getting th item sets with length = 1 and support more than 10%

frequent_itemsets[ (frequent_itemsets['length'] == 1) &
                   (frequent_itemsets['support'] >= 0.01) ]

      support                                           itemsets  length
0    0.010555  (7 Kelas Panduan Langkah-langkah Jualan Online...       1
3    0.018053                      (Aneka Resep Jajanan Rumahan)       1
12   0.014107                          (Belajar Berpikir Kritis)       1
25   0.012824           (Cepat Cakap Inggris Khusus Ojek Online)       1
35   0.010654  (Desain Grafis Kelas Dunia Dengan Adobe Ilustr...       1
36   0.013318            (Desain Poster dengan Canva di Android)       1
38   0.012331                                (Digital Marketing)       1
41   0.013219             (Eksplorasi Profesi dan Melamar Kerja)       1
47   0.019434                           (Fotografi untuk Pemula)       1
50   0.013318            (Hardskill & Softskill Persiapan Kerja)       1
78   0.027030        (Kelas Kilat Bahasa Inggris Dasar Karyawan)       1
79   0.021801         (Kelas Kilat Bahasa Inggris Job Interview)       1
80   0.021703         (Kelas Kilat: Melamar Kerja Secara Online)       1
81   0.035119  (Kelas Kilat: Melamar Kerja via Pos atau Langs...       1
90   0.010457          (Kewirausahaan - Menyusun Rencana Bisnis)       1
91   0.019138                     (Kiat Sukses Berjualan Online)       1
93   0.010161                             (Komunikasi Pemasaran)       1
99   0.010555  (MPLS SMP, SMA, Paket B & C Tahun Pelajaran 20...       1
105  0.028608  (Memasang Iklan di Facebook dan Instagram Seca...       1
107  0.042419        (Membangun CV, Resume, Surat Lamaran Kerja)       1
116  0.017066         (Mencari Ide Bisnis yang Dibutuhkan Pasar)       1
119  0.031272     (Menghadapi Wawancara Kerja & Seleksi Lainnya)       1
155  0.015389                (Pastry and Bakery 2: Short Pastry)       1
163  0.013416             (Pelatihan Pastry and Bakery 1: Bread)       1
164  0.010950       (Pembelajaran Jarak Jauh di Kondisi Darurat)       1
175  0.013613                   (Pengetikan Dasar (Office Word))       1
176  0.013120                     (Pengolah Angka (Spreadsheet))       1
189  0.021012  (Resep simple ala restoran bersama Chef DeaVia...       1
195  0.010457   (Sekolah Cikal Commencement Program for Primary)       1
196  0.011838  (Sekolah Cikal Commencement Program for Second...       1
199  0.011345  (Strategi Marketing Bisnis untuk Menaikkan Pen...       1
202  0.013219                     (Sukses Mudah Interview Kerja)       1
206  0.012134        (Teknik Wawancara Kerja (Bahasa & Inggris))       1

In [29]:
apr2 = frequent_itemsets[ (frequent_itemsets['length'] == 2) &
                   (frequent_itemsets['support'] >= 0.001)]

In [30]:
apr2

      support                                           itemsets  length
243  0.002762  (MPLS SMP, SMA, Paket B & C Tahun Pelajaran 20...       2
244  0.001381  (Menghadapi Wawancara Kerja & Seleksi Lainnya,...       2
245  0.001282  (Obrolan #PemimpinMerdekaBelajar, Obrolan Live...       2
246  0.001480  ([Sekolah Cikal Cilandak] English Acquisition ...       2
247  0.002072  ([Sekolah Cikal Cilandak] Indonesian Acquisiti...       2
248  0.001578  ([Sekolah Cikal Cilandak] Mathematics 6, Sekol...       2
249  0.001776  ([Sekolah Cikal Cilandak] Sciences 6, Sekolah ...       2
250  0.001578  ([Sekolah Cikal Cilandak] Indonesian Acquisiti...       2
251  0.001480  ([Sekolah Cikal Cilandak] English Acquisition ...       2
252  0.002170  ([Sekolah Cikal Cilandak] English Acquisition ...       2
253  0.002072  ([Sekolah Cikal Cilandak] Indonesian Acquisiti...       2
254  0.001874  ([Sekolah Cikal Cilandak] Indonesian Acquisiti...       2
255  0.001085  ([Sekolah Cikal Cilandak] Mathematics 5, [Seko...       2
256  0.001184  ([Sekolah Cikal Cilandak] Sciences 6, [Sekolah...       2

In [31]:
apr2.style.set_properties(subset=['itemsets'], **{'width': '300px'})