### Imports

In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

### HTTP Request

#### store website in variable

In [2]:
website = 'https://www.trulia.com/CA/San_Francisco/'

#### Get Request

In [3]:
response = requests.get(website)

#### Status Code

In [4]:
response.status_code

200

### Soup Object

In [5]:
soup = BeautifulSoup(response.content, 'html.parser')

In [7]:
# soup

### Results

In [9]:
result = soup.find_all('li', {'class': 'SearchResultsList__WideCell-b7y9ki-2'})

In [10]:
len(result)

32

### Update Results

we just want to target the elements which have the attribute 'data-testid'

In [11]:
results_update = []

In [12]:
for r in result:
    if r.has_attr('data-testid'):
        results_update.append(r)

In [13]:
len(results_update)

30

### Target necessary data

In [23]:
# Street
# Region
# Bedrooms
# Bathrooms
# Price

#### Street

In [16]:
results_update[1].find('div', {'data-testid': 'property-street'}).get_text()

'224 Sea Cliff Ave'

#### Region

In [18]:
results_update[1].find('div', {'data-testid': 'property-region'}).get_text()

'Seacliff, San Francisco, CA'

#### Bedrooms

In [19]:
results_update[0].find('div', {'data-testid': 'property-beds'}).get_text()

'4bd'

#### Bathrooms

In [20]:
results_update[0].find('div', {'data-testid': 'property-baths'}).get_text()

'3ba'

#### Price

In [21]:
results_update[0].find('div', {'data-testid': 'property-price'}).get_text()

'$1,695,000'

### Append all Results in Lists with List Comprehension

In [25]:
streets = [result.find('div', {'data-testid': 'property-street'}).get_text() for result in results_update]
regions = [result.find('div', {'data-testid': 'property-region'}).get_text() for result in results_update]
beds = [result.find('div', {'data-testid': 'property-beds'}).get_text() for result in results_update]
baths = [result.find('div', {'data-testid': 'property-baths'}).get_text() for result in results_update]
prices = [result.find('div', {'data-testid': 'property-price'}).get_text() for result in results_update]

In [27]:
len(prices)

30

### Create Pandas Dataframe

In [28]:
real_estate = pd.DataFrame({'Street':streets, 'Region': regions, 'Bedrooms': beds, 'Bathrooms': baths, 'Price': prices})

In [29]:
real_estate

,Street,Region,Bedrooms,Bathrooms,Price
0,144 Idora Ave,"Laguna Honda, San Francisco, CA",4bd,3ba,"$1,695,000"
1,224 Sea Cliff Ave,"Seacliff, San Francisco, CA",6bd,7ba,"$15,375,000"
2,72 Winfield St,"Bernal Heights, San Francisco, CA",3bd,2ba,"$1,795,000"
3,469 27th St,"Noe Valley, San Francisco, CA",4bd,2ba,"$1,995,000"
4,2582 Filbert St,"Cow Hollow, San Francisco, CA",6bd,9ba,"$46,000,000"
5,253 Chicago Way,"Crocker Amazon, San Francisco, CA",3bd,2ba,"$1,198,000"
6,2454 Vallejo St,"Pacific Heights, San Francisco, CA",3bd,2ba,"$3,595,000"
7,1530 Newcomb Ave,"Bayview, San Francisco, CA",2bd,2ba,"$595,000"
8,3335 21st St,"Dolores Heights, San Francisco, CA",3bd,2ba,"$1,295,000"
9,140 Cresta Vista Dr,"Sherwood Forest, San Francisco, CA",4bd,3ba,"$1,498,000"
10,1738 17th Ave,"Golden Gate Heights, San Francisco, CA",3bd,2ba,"$1,095,000"
11,318 Hearst Ave,"Sunnyside, San Francisco, CA",2bd,1ba,"$995,000"
12,2698 Pacific Ave,"Pacific Heights, San Francisco, CA",8bd,8ba,"$25,800,000"
13,225 Claremont Blvd,"Laguna Honda, San Francisco, CA",4bd,2ba,"$1,849,000"
14,227 Vicente St,"West Portal, San Francisco, CA",3bd,2ba,"$1,995,000"
15,12 Brumiss Ter,"Crocker Amazon, San Francisco, CA",5bd,3ba,"$1,250,000"
16,449 Prentiss St,"Bernal Heights, San Francisco, CA",2bd,2ba,"$1,049,000"
17,1130 Quintara St,"Parkside, San Francisco, CA",2bd,1ba,"$1,000,000"
18,55 Tioga Ave,"Visitacion Valley, San Francisco, CA",3bd,2ba,"$999,950"
19,1695 18th St #308,"Potrero Hill, San Francisco, CA",Studio,1ba,"$257,158"
20,1356 Waller St,"Haight, San Francisco, CA",3bd,2ba,"$1,575,000"
21,2950 Pacific Ave,"Pacific Heights, San Francisco, CA",8bd,13ba,"$29,500,000"
22,354 27th Ave,"Outer Richmond, San Francisco, CA",4bd,4ba,"$3,900,000"
23,2839 Pacific Ave,"Pacific Heights, San Francisco, CA",5bd,6ba,"$16,950,000"
24,1419 Palou Ave,"Bayview, San Francisco, CA",1bd,1ba,"$799,000"
25,672 27th Ave,"Outer Richmond, San Francisco, CA",3bd,2ba,"$1,595,000"
26,333 Haight St #3,"Mint Hill, San Francisco, CA",3bd,2ba,"$850,000"
27,18 Latona St,"Silver Terrace, San Francisco, CA",7bd,3ba,"$859,000"
28,10 Sea Cliff Ave,"Seacliff, San Francisco, CA",4bd,5ba,"$6,500,000"
29,3680 16th St,"Duboce Triangle, San Francisco, CA",4bd,3ba,"$1,595,000"

### Output in Excel

In [30]:
real_estate.to_excel('real_estate_page_1.xlsx', index=False)